# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea/*
*.iml
*.pyc
*.pyc
ebooks/migrations/0008_auto_20151212_1122.py
ebooks/migrations/0004_auto_20151212_1030.py
ebooks/migrations/0005_auto_20151212_1032.py
ebooks/migrations/0006_auto_20151212_1055.py
ebooks/migrations/0007_auto_20151212_1111.py
ebooks/migrations/0003_customer.py
*.pyc
